/.github           export-ignore
/tests             export-ignore
/phpunit.xml*      export-ignore
/phpstan.neon*     export-ignore
/.php-cs-fixer.php export-ignore
/.gitignore         export-ignore
/.editorconfig      export-ignore
/.dockerignore      export-ignore
/.devcontainer      export-ignore
/.vscode            export-ignore
/.idea              export-ignore
/tools              export-ignore